<!-- <ng-container *ngIf="activeContainers?.length">
  <div class="left" cdkDropList [cdkDropListConnectedTo]="activeContainers!" id="defaultContainer">
    <div class="com" cdkDrag (cdkDragMoved)="onDraging($event)"></div>
  </div>
</ng-container> -->
<button (click)="back()">返回</button>
<!-- <div class="left" cdkDropList [cdkDropListConnectedTo]="activeContainers!" id="defaultContainer">
  <div class="com" cdkDrag (cdkDragMoved)="onDraging($event)"></div>
</div>

<div class="right">
  <app-drop-container>
    <app-drop-container>
      <app-drop-container>

      </app-drop-container>
    </app-drop-container>
  </app-drop-container>
</div>

<div class="right">
  <app-drop-container>
    <app-drop-container>
      <app-drop-container>

      </app-drop-container>
    </app-drop-container>
  </app-drop-container>
</div> -->