:host {
  display: block;

  div.list {
    display: flex;
    flex-flow: column;
    min-height: 300px;
    background-color: pink;

    div.item {
      position: relative;
      padding: 8px 12px;
      border: 1px solid #cacdd1;
      user-select: none;
      margin-bottom: -1px;
      background-color: #fff;
    }

    div.wrapper {
      flex: 1;
      background-color: orange;
      // margin-bottom: 20px;
      padding: 20px;
    }
  }
}