:host {
  display: block;
  padding: 20px;


  div.content {
    display: flex;
    justify-content: space-between;

    div.list {
      width: 300px;

      div.item {

      }
    }

    .container {
      width: 300px;
    }

  }
}