<div class="header">
  <button (click)="addToList1()">添加到List 1</button>
</div>

<div class="content">

  <div class="list" id="list1">
    <div class="drag-item" *ngFor="let it of todos">{{it}}</div>
    <!-- <div class="drag-item">This is demo 1</div>
    <div class="drag-item">This is demo 2</div>
    <div class="drag-item">This is demo 3</div>
    <div class="drag-item">This is demo 4</div> -->
  </div>

  <!-- <div class="list" id="list2">
    <div class="drag-item">This is demo 1</div>
    <div class="drag-item">This is demo 2</div>
    <div class="drag-item">This is demo 3</div>
    <div class="drag-item">This is demo 4</div>
  </div> -->

  <app-container class="container">
    <app-container>
    </app-container>
  </app-container>

  <!-- <app-container class="container">
    <app-container>

    </app-container>
  </app-container> -->
</div>