<!-- <div id="simpleList" class="list-group">
  <div class="list-group-item">This is demo</div>
  <div class="list-group-item">It works with Bootstrap...</div>
  <div class="list-group-item">...out of the box.</div>
  <div class="list-group-item">It has support for touch devices.</div>
  <div class="list-group-item">Just drag some elements around.</div>
</div> -->

<div class="list" id="list1">
  <div class="item">This is demo 1</div>
  <div class="item">This is demo 2</div>
  <div class="item">This is demo 3</div>
  <div class="item">This is demo 4</div>
</div>

<div class="list" id="list2">
  <div class="item">This is demo 1</div>
  <div class="item">This is demo 2</div>
  <div class="item">This is demo 3</div>
  <div class="item">This is demo 4</div>
</div>